@model ProjectXYZ.Models.UserAccount
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <style>
        .breadcrumb-item + .nav-item::before {
            content: ">";
        }

        .small-box.text-center {
            box-shadow: 0 0 0;
        }

        .shapes {
            width: 160px;
            height: 160px;
            background-color: lightgray;
        }

        .shapes2 {
            width: 80px;
            height: 80px;
        }

        #treeview, #treeview > li > ul {
            list-style-type: none;
        }

        label {
            cursor: pointer;
        }

        /* Indent child nodes */
        li ul {
            padding-top: 16px;
        }

        .divChoosen.active > div {
            background: lightgray;
        }

        .divChoosen > div:hover {
            background: lightgray;
        }
    </style>
</head>
<body>
    <section class="content">
        <div class="card container-fluid" style="background: none; box-shadow: none !important;">
            <div class="card-body row m-0">
                <div class="addSetting col-lg-4 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body pt-0">
                            <div class="col-12 row p-0" style="border-bottom: 1px solid lightgrey; margin: 1rem 0 0.5rem 0;">
                                <i class="fas fa-cog fa-2x text-blue text-left col-2 p-0" style="text-align-last: center; align-self: center;"></i>
                                <div class="col-10">
                                    <label class="col-form-label pb-0" style="font-size: 16pt;">Settings</label>
                                    <br />
                                    <span class="pt-1" style="font-size: 9pt;">System settings</span>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="features" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Features</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="payment" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Payment types</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="taxes" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Taxes</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="salestype" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Sales type</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0" style="border-bottom: 1px solid lightgrey; margin: 1rem 0 0.5rem 0;">
                                <i class="fas fa-store-alt fa-2x text-blue text-left col-2 p-0" style="text-align-last: center; align-self: center;"></i>
                                <div class="col-10">
                                    <label class="col-form-label pb-0" style="font-size: 16pt;">Stores</label>
                                    <br />
                                    <span class="pt-1" style="font-size: 9pt;">Store &amp; POS settings</span>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="stores" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Stores</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="site" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">Site</label>
                                </div>
                            </div>
                            <div class="col-12 row p-0 divChoosen" name="POSdevices" style="margin: 0.5rem 0 0.5rem 0;">
                                <span class="col-2 p-0"></span>
                                <div class="col-10" style="border-bottom: 1px solid lightgrey;">
                                    <label class="col-form-label font-weight-normal">POS devices</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 features divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Features</h5>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFeatures" }))//data-resetUrl
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" id="Feature_ID" />
                                <div class="col-12 row p-0 m-0">
                                    <div class="col-1 pt-3">
                                        <i class="far fa-clock text-gray"></i>
                                    </div>
                                    <div class="col-10 pl-2">
                                        <label class="col-form-label font-weight-normal pb-0">Shifts</label>
                                        <br />
                                        <span style="font-size: 9pt; color: darkgrey;">Track cash that goes in and out of your drawer.</span>
                                    </div>
                                    <div class="col-1 pt-3">
                                        <input type="checkbox" id="Shifts" />
                                    </div>
                                </div>
                                <div class="col-12 row p-0 m-0">
                                    <div class="col-1 pt-3">
                                        <i class="fa fa-stopwatch text-gray"></i>
                                    </div>
                                    <div class="col-10 pl-2">
                                        <label class="col-form-label font-weight-normal pb-0">Time clock</label>
                                        <br />
                                        <span style="font-size: 9pt; color: darkgrey;">Track employees clock in/out time and calculate their total work hours.</span>
                                    </div>
                                    <div class="col-1 pt-3">
                                        <input type="checkbox" id="TimeClock" />
                                    </div>
                                </div>
                                <div class="col-12 row p-0 m-0">
                                    <div class="col-1 pt-3">
                                        <i class="fa fa-envelope text-gray"></i>
                                    </div>
                                    <div class="col-10 pl-2">
                                        <label class="col-form-label font-weight-normal pb-0">Low stock notifications</label>
                                        <br />
                                        <span style="font-size: 9pt; color: darkgrey;">Get daily email on items that are low or out of stock.</span>
                                    </div>
                                    <div class="col-1 pt-3">
                                        <input type="checkbox" id="LowStock" />
                                    </div>
                                </div>
                                <div class="col-12 row p-0 m-0">
                                    <div class="col-1 pt-3">
                                        <i class="fa fa-clock text-gray"></i>
                                    </div>
                                    <div class="col-10 pl-2">
                                        <label class="col-form-label font-weight-normal pb-0">Negative stock alerts</label>
                                        <br />
                                        <span style="font-size: 9pt; color: darkgrey;">Warn cashiers attempting to sell more inventory than available in stock.</span>
                                    </div>
                                    <div class="col-1 pt-3">
                                        <input type="checkbox" id="NegativeStock" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 p-0" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 payment divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Payment Types</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 paymentList">
                                    <button type="button" class="btn btn-primary col-lg-6 col-md-8 col-12" id="btnAddPayment"> + ADD PAYMENT TYPE</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_paymenttypes" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align:middle; width: 1px;"><input type="checkbox" id="cbAll" /></th>
                                                        <th class="text-left w-100" style="vertical-align: middle;">Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 paymentAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPayType" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="col-12 text-center">
                                            <img src="~/Content/icons/wallet.png" alt="wallet" width="80" height="80" />
                                        </div>
                                        <input type="hidden" id="Payment_ID" />
                                        <div class="form-group mt-0 col-12 p-0 focused">
                                            <label class="form-label" for="Payment_Type">Payment type</label>
                                            <select class="form-input" id="Payment_Type">
                                                <option id="1">Card</option>
                                                <option id="2">Cash</option>
                                            </select>
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="Payment_Name">Name</label>
                                            <input type="text" class="form-input" id="Payment_Name" />
                                        </div>
                                        <div class="col-12 row m-0 p-0">
                                            <div class="col-10 p-0">
                                                <label class="col-form-label font-weight-normal">Stores</label>
                                            </div>
                                            <div class="col-2 p-0" style="align-self: center;">
                                                <i class="fas fa-chevron-down" type="button" id="store-collapse" style="float:right"></i>
                                            </div>
                                            <div class="col-12 row m-0 store-collapse p-0" style="padding: 1rem 0 0.5rem 0; border-bottom: 1px solid lightgrey;">
                                                <ul id="treeview" class="col-12 p-0">
                                                    <li>
                                                        <input type="checkbox" id="AllStores" />
                                                        <label class="font-weight-normal pl-3" for="AllStores">Available in all stores</label>
                                                        <ul>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span type="button" class="col-12 text-right" id="showLessMore" style="padding: 0.5rem 0 0.5rem 0;">Show Less</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 paymentAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 POSdevices divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>POS Devices</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 POSList">
                                    <button type="button" class="btn btn-primary col-lg-5 col-md-6 col-12" id="btnAddDevices"> + ADD POS</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_POSDevices" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align:middle; width: 1px;"><input type="checkbox" id="cbAll" /></th>
                                                        <th class="text-left" style="vertical-align: middle;">Name</th>
                                                        <th class="text-left" style="vertical-align: middle;">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 POSAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormDevice" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" id="POS_Device_ID" />
                                        <div class="col-12" style="text-align: -webkit-center;">
                                            <div>
                                                <div class="shapes2 bg-purple" style="border-radius: 50%; padding-top: 24px;">
                                                    <i class="fas fa-tablet-alt fa-2x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="POS_Device_Name">Name</label>
                                            <input type="text" class="form-input" id="POS_Device_Name" />
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="DEVICE_STOREID">Store ID</label>
                                            <select class="form-input" id="DEVICE_STOREID"></select>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 POSAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 taxes divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Taxes</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 taxesEmpty" style="text-align: -webkit-center;">
                                    <div class="pt-2">
                                        <img src="~/Content/icons/tax-office.png" width="80" height="80" />
                                    </div>
                                    <div class="pt-2"><span style="font-size: 16pt">TAXES</span></div>
                                    <div class="pt-2"><span style="font-size: 10pt">Taxes can be applied to specific items and are calculated at the time of sale. <a href="#" class="text-green">Learn more</a></span></div>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-primary" id="btnAddTax"> + ADD TAX</button>
                                    </div>
                                </div>
                                <div class="col-12 taxesList">
                                    <button type="button" class="btn btn-primary col-lg-5 col-md-6 col-12" id="btnAddTaxes"> + ADD TAX</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_taxes" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align:middle; width: 1px;"><input type="checkbox" id="cbAll" /></th>
                                                        <th class="text-left" style="vertical-align: middle;">Name</th>
                                                        <th class="text-left" style="vertical-align: middle; width: 25%;">Apply to new items</th>
                                                        <th class="text-left" style="vertical-align: middle; width: 15%;">Tax rate</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 taxesAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormTaxes" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" id="Tax_ID" />
                                        <div class="row m-0" style="margin: 1rem 0 1rem 0;">
                                            <div class="form-group mt-0 col-lg-8 col-md-7 col-12 pl-0 pr-lg-1 pr-md-1 pr-0">
                                                <label class="form-label" for="Tax_Name">Name</label>
                                                <input type="text" class="form-input" id="Tax_Name" />
                                            </div>
                                            <div class="form-group mt-0 col-lg-4 col-md-5 col-12 pr-0 pl-lg-1 pl-md-1 pl-0">
                                                <label class="form-label" for="Tax_Rate">Tax rate %</label>
                                                <input type="text" class="form-input" id="Tax_Rate" />
                                            </div>
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="Tax_Type">Type</label>
                                            <select class="form-input" id="Tax_Type">
                                                <option value="1">Included in the price</option>
                                                <option value="2">Added to the price</option>
                                            </select>
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="Tax_Option">Option</label>
                                            <select class="form-input" id="Tax_Option">
                                                <option value="1">Apply the tax to the new items</option>
                                                <option value="2">Apply the tax to existing items</option>
                                                <option value="3">Apply the tax to all new and existing items</option>
                                            </select>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 taxesAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 salestype divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Sales Type</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 salesList">
                                    <button type="button" class="btn btn-primary col-lg-5 col-md-6 col-12" id="btnAddSalesType"> + ADD SALES TYPE</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_salestype" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left" style="vertical-align: middle;">Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 salesAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormStype" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="col-12 text-center">
                                            <img src="~/Content/icons/shopping-bag-sales.png" alt="shopping-bag" width="80" height="80" />
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="SALESTYPE_ID">Sales Type ID</label>
                                            <input type="text" class="form-input" id="SALESTYPE_ID" disabled />
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="SALESTYPE_NAME">Name</label>
                                            <input type="text" class="form-input" id="SALESTYPE_NAME" />
                                        </div>
                                        <div class="form-group mt-0 col-12 p-0">
                                            <label class="form-label" for="SALESTYPE_STOREID">Store ID</label>
                                            <select class="form-input" id="SALESTYPE_STOREID"></select>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 salesAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 stores divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Stores</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 storesList">
                                    <button type="button" class="btn btn-primary col-lg-5 col-md-6 col-12" id="btnAddStore"> + ADD STORE</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_stores" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left" style="vertical-align: middle;">Name</th>
                                                        <th class="text-left" style="vertical-align: middle;">Address</th>
                                                        <th class="text-left" style="vertical-align: middle;">Number of POS</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 storesAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormStore" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="col-12 text-center">
                                            <i class="fas fa-store-alt fa-3x text-blue text-left col-2 p-0"></i>
                                        </div>
                                        <input type="hidden" id="Store_ID" />
                                        <div class="form-group mt-0">
                                            <label class="form-label" for="STORE_NAME">Name</label>
                                            <input type="text" class="form-input" id="STORE_NAME" />
                                        </div>
                                        <div class="row col-12 p-0">
                                            <i class="fas fa-map-marker-alt text-gray text-left col-lg-1 col-md-2 col-2 p-0" style="align-self: center;"></i>
                                            <div class="form-group mt-0 col-lg-11 col-md-10 col-10 p-0">
                                                <label class="form-label" for="STORE_ADDRESS">Address</label>
                                                <input type="text" class="form-input" id="STORE_ADDRESS" />
                                            </div>
                                        </div>
                                        <div class="col-12 p-0 row">
                                            <i class="text-gray col-lg-1 p-0"></i>
                                            <div class="col-lg-5 col-md-12 col-12 p-0">
                                                <div class="form-group mt-0 col-12 p-0">
                                                    <label class="form-label" for="STORE_CITY">City</label>
                                                    <input type="text" class="form-input" id="STORE_CITY" />
                                                </div>
                                            </div>
                                            <span class="col-lg-1"></span>
                                            <div class="col-lg-5 col-md-12 col-12 p-0">
                                                <div class="form-group mt-0 col-12 p-0">
                                                    <label class="form-label" for="STORE_PROVINCE">Province</label>
                                                    <input type="text" class="form-input" id="STORE_PROVINCE" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 p-0 row">
                                            <i class="text-gray col-lg-1 p-0"></i>
                                            <div class="col-lg-5 col-md-12 col-12 p-0">
                                                <div class="form-group mt-0 col-12 p-0">
                                                    <label class="form-label" for="STORE_POSTALCODE">Postal Code</label>
                                                    <input type="text" class="form-input" id="STORE_POSTALCODE" />
                                                </div>
                                            </div>
                                            <span class="col-lg-1"></span>
                                            <div class="col-lg-5 col-md-12 col-12 p-0">
                                                <div class="form-group mt-0 col-12 p-0 focused">
                                                    <label class="form-label" for="STORE_COUNTRY">Country</label>
                                                    <div>
                                                        @Html.DropDownListFor(Model => Model.Country, ViewBag.Countries as IEnumerable<SelectListItem>, "Select Country",
                                             new
                                             {
                                                 @class = "w-100 form-input",
                                                 @id = "STORE_COUNTRY"
                                             })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-0 col-12 p-0 row">
                                            <i class="fas fa-phone text-gray text-left col-lg-1 col-md-2 col-2 p-0" style="align-self: center;"></i>
                                            <div class="form-group mt-0 col-lg-11 col-md-10 col-10 p-0">
                                                <label class="form-label" for="STORE_PHONE">Phone</label>
                                                <input type="tel" class="form-input" id="STORE_PHONE" />
                                            </div>
                                        </div>
                                        <div class="mt-0 col-12 p-0 row">
                                            <i class="fas fa-file-alt text-gray text-left col-lg-1 col-md-2 col-2 p-0" style="align-self: center;"></i>
                                            <div class="form-group mt-0 col-lg-11 col-md-10 col-10 p-0">
                                                <label class="form-label" for="STORE_DESCRIPTION">Description</label>
                                                <input type="text" class="form-input" id="STORE_DESCRIPTION" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 storesAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 site divSetting">
                    <div class="card">
                        <div class="card-header">
                            <h5>Site</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-12 row p-0 m-0">
                                <div class="col-12 siteList">
                                    <button type="button" class="btn btn-primary col-lg-5 col-md-6 col-12" id="btnAddSite"> + ADD SITE</button>
                                    <div class="col-12" style="padding: 0.5rem 0 0.5rem 0;">
                                        <div class="dt-responsive table-responsive">
                                            <table id="table_site" class="table table-hover wrap">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left" style="vertical-align: middle;">Site ID</th>
                                                        <th class="text-left" style="vertical-align: middle;">Name</th>
                                                        <th class="text-left" style="vertical-align: middle;">Store</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 siteAdd">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormSite" }))//data-resetUrl
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="col-12 text-center">
                                            <img src="~/Content/icons/warehouse.png" alt="wallet" width="80" height="80" />
                                        </div>
                                        <div class="col-12 text-right">
                                            <input type="checkbox" id="DefaultSite" /> Default Site
                                        </div>
                                        <div class="form-group mt-0">
                                            <label class="form-label" for="SITE_ID">Site ID</label>
                                            <input type="text" class="form-input" id="SITE_ID" disabled />
                                        </div>
                                        <div class="form-group mt-0">
                                            <label class="form-label" for="SITE_NAME">Name</label>
                                            <input type="text" class="form-input" id="SITE_NAME" />
                                        </div>
                                        <div class="form-group mt-0">
                                            <label class="form-label" for="STORE_ID">Store ID</label>
                                            <select class="form-input" id="STORE_ID"></select>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 siteAdd" style="border-top: 1px solid lightgray;">
                        <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                            <button type="button" class="btn btn-default mr-2" id="btnCancel" style="width: 120px;">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btnSave" style="width: 120px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts
{
    <script src="~/Areas/Setting/Lib/Settings.js"></script>
}
